@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  font-family: "Inter" !important;
}

.navbarcustomstyle {
  z-index: 999;
}

.border {
  border: none !important;
  border-radius: 0 !important;
}

.border-bottom {
  padding-bottom: 12px !important;
  border-bottom: 1px solid #757575;
  margin-bottom: 5px;
}

.bold {
  font-weight: bold !important;
}

.center {
  display: flex;
  justify-content: center;
}

.top {
  margin-top: -10px;
}

.carouselControl {
  z-index: 0 !important;
}

.carouselControl a {
  display: none !important;
}

.borderbottom {
  padding-bottom: 10px;
  margin-bottom: 0;
  border-bottom: 1px solid white;
  border-bottom-width: 5%;
}

.borderbottom:hover {
  border-bottom: 1px solid lightblue;
  border-bottom-width: 5%;
}

.customOffer {
  margin-top: -48px;
  margin-left: 379px;
  padding-top: 2px;
}

.offersPercent {
  margin-top: -20px;
  margin-left: 364px;
  padding: 1px;
}

.unorderedList {
  padding-left: 5px;
}

.unorderedList li {
  font-size: 14px !important;
  margin-left: 14px !important;
  justify-content: space-between;
  cursor: pointer;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}

.activeclass {
  font-weight: 500 !important;
  color: #3bb9f1;
}

.stickyNav {
  height: 10vh;
  z-index: 999;
  position: sticky;
  top: 0;
}

.navbar button {
  font-size: 14px;
}

.flexbox {
  display: flex;
  width: 63%;
  margin: auto;
}

.left {
  width: 85%;
}

.right {
  width: 15%;
  margin-left: -100px;
}

.right img {
  height: 540px;
}

.breakout {
  width: 300px;
}

.cardSection {
  max-width: 72%;
}

.textcolor {
  color: #717171;
}

.texttitle {
  color: #202220;
}

/* .customAnimation {
  max-height: 270px !important;
} */
