@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  font-family: "Inter" !important;
}

.navbarcustomstyle {
  z-index: 999;
}

.border {
  border: none !important;
  border-radius: 0 !important;
}

.border-bottom {
  padding-bottom: 12px !important;
  border-bottom: 1px solid #757575;
  margin-bottom: 5px;
}

.bold {
  font-weight: bold !important;
}

.center {
  display: flex;
  justify-content: center;
}

.top {
  margin-top: -10px;
}

.carouselControl {
  z-index: 0 !important;
}

.carouselControl a {
  display: none !important;
}

.borderbottom {
  padding-bottom: 10px;
  margin-bottom: 0;
  border-bottom: 1px solid white;
  border-bottom-width: 5%;
}

.borderbottom:hover {
  border-bottom: 1px solid lightblue;
  border-bottom-width: 5%;
}

.customOffer {
  margin-top: -48px;
  margin-left: 282px;
  padding-top: 2px;
}

.offersPercent {
  margin-top: -20px;
  margin-left: 267px;
  padding: 1px;
}

.unorderedList {
  padding-left: 5px;
}

.unorderedList li {
  font-size: 14px !important;
  margin-left: 14px !important;
  justify-content: space-between;
  cursor: pointer;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}

.activeclass {
  font-weight: 500 !important;
  color: #3bb9f1;
}

.stickyNav {
  height: 10vh;
  z-index: 999;
  position: sticky;
  top: 0;
}

.navbar button {
  font-size: 14px;
}

.flexbox {
  display: flex;
  width: 63%;
  margin: auto;
}

.left {
  width: 85%;
}

.right {
  width: 15%;
  margin-left: -100px;
}

.right img {
  height: 540px;
}

.breakout {
  width: 300px;
}

.cardSection {
  max-width: 72%;
}

.textcolor {
  color: #717171;
}

.texttitle {
  color: #202220;
}

.banner{
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(./assets/welcomeBanner.png);
  transition: background-image 1s;

  animation-name: animate;
  animation-duration: 30s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes animate {
  0%, 33% {
    background-image: url(./assets/welcomeBanner.png);
    opacity: 1;
  }
  33%, 66% {
    background-image: url(./assets/servicesBanner.png);
    opacity: 1;
  }
  66%, 100% {
    background-image: url(./assets/transactionproofBanner.png);
    opacity: 1;
  }
}

.getOnboard{
  max-width: 800px;
}

.whatWePresent{
  max-width: 850px;
  height: 690px;
}

.cardWidth{
  width: 18rem !important;
}

.swiftpt{
  top: 0;
  padding-top: 0;
  margin-top: -120px !important;
  margin-bottom: 0px;
}

.cardContainer {
  margin: auto;
  overflow: hidden;
  display: flex;
}

.fadingCard {
  animation: fade 20s linear infinite forwards;
  opacity:0;
}
.fadingCard1,.fadingCard2 {
  margin-right: -100%;
}
.fadingCard2 {animation-delay:6.6666s;}
.fadingCard3 {animation-delay:13.3333s;}


@keyframes fade {
  0% {
    opacity: 0;
  }
  3% {
    opacity: 1;
  }
  31% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
}


@media only screen and (max-width: 600px){  
  .breakout {
    width: 180px;
  }
  
.customOffer {
  margin-left: 212px;
}

.offersPercent {
  margin-left: 196px;
}

.whatWePresent{
  max-width: 850px;
  height: 1400px;
}
 }

@media only screen and (min-width: 375px){  
.customOffer {
  margin-left: 263px;
}

.offersPercent {
  margin-left: 248px;
}

 }

@media only screen and (min-width: 425px){  
.customOffer {
  margin-left: 308px;
}

.offersPercent {
  margin-left: 293px;
}

.whatWePresent p:first-of-type{
  max-width: 300px;
  margin: auto;
}

 }

