@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  font-family: "Inter" !important;
}

.navbarcustomstyle {
  z-index: 999;
}

.border {
  border: none !important;
  border-radius: 0 !important;
}

.border-bottom {
  padding-bottom: 12px !important;
  border-bottom: 1px solid #757575;
}

.bold {
  font-weight: bold !important;
}

.center {
  display: flex;
  justify-content: center;
}

.breakout {
  margin-left: -80px;
}

.top {
  margin-top: -10px;
}

.carouselControl {
  z-index: 0 !important;
}

.carouselControl a {
  display: none !important;
}

.borderbottom:hover {
  border-bottom: 1px solid lightblue;
  border-bottom-width: 5%;
}
